Source: alacritty
Section: rust
Priority: optional
Maintainer: Its-Treason <packages@its-treason.com>
Build-Depends: debhelper (>=10)
Standards-Version: 4.6.2
Homepage: https://github.com/alacritty/alacritty

Package: alacritty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: x-terminal-emulator
Description: Fast, cross-platform, OpenGL terminal emulator
 Alacritty is a modern terminal emulator that comes with sensible defaults, 
 but allows for extensive configuration. By integrating with other applications,
 rather than reimplementing their functionality, it manages to provide a
 flexible set of features with high performance.
